{% extends pagelayout is defined ? pageLayout : "eZDemoBundle::pagelayout.html.twig"  %}

{% block content %}

    <h1>{{ ez_render_field( content, 'name' ) }}</h1>

    {% include form_template with { form: form, form_action: path( "ez_urlalias", { locationId: location.id } )} %}

        <section class="content-view-full">
            <div class="class-folder row">
            <div class="span8">
                <section class="content-view-children">
                    {{ render(controller('NetgenHybridApproachBundle:Default:getChildren', {'locationId': location.id})) }}
                </section>
            </div>
        </div>


{% endblock %}